1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

ans ) * > expressions

'hello' > value

-87.8 > value

-,  expressions

/  > expressions

+,	> expressions

6 > value

2.What is the difference between string and variable?

ans) Variables are used to store a value. For eg: value1 = 1234. Here value1 holds the integer and it is a variable.

  String is a type of data. For eg : value2 = "Hello there" . Here "Hello there" is the data and it is of type string.

3.Describe three different data types.

ans) Integer - Integer is used to store whole numbers . Eg : 10 is an integer value 

    Float - Float is used when a number contains a decimal point. Eg: 67.90 is a float value
    
    Boolean - Boolean can be used when we need a true or false / Yes or no answer . Eg : Will it rain today? No . Here 'No' is a boolean type.

4.What is an expression made up of? What do all expressions do?

ans) Expressions are combinations of values and operators. In an expression the value and operator evaluate and produce a single value. For Eg : 2+4 .Here 2 and 4 are integer value and '+' operator will allow the value to be evaluated.

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ans) Statement represent an action or command. For eg : print() allows to perform an action.
    
Whereas expression is a combination of values and operators. For eg : 5%4 . Here 5 and 4 are values and % is an operator and together they produce a resultant

6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans)

In [6]:
bacon = 22 
bacon + 1

23

In [7]:
bacon

22

Value of bacon remains 22 as it is not assigned to any particular variable after addition of 1

7.What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

ans)

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

8.Why is eggs a valid variable name while 100 is invalid?

ans ) A variable name should always start with a letter or underscore and cannot start with a number.

9.What three functions can be used to get the integer, floating-point number, or string version of a value

ans) For integer -> int()

For Float -> float()

For string -> str()

10.Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

ans) Here, 'I have eaten ' and 'buriitos' are string and 99 is an integer. We can fix this by making it into a single sentence which will be of type string. 'I have eaten  99  burritos'.

                                   ------------------ END ----------------------------------